@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body{
  margin: 0;
  padding: 0;
}

.separator_parent {
  margin: -20px 0px 10px 0px;
}
.separator {
  height: 3px;
  width: 160px;
  background-color: #d7282f;
  display: inline-block;
}
#partner_container{
  margin: 0;
  padding: 0px;
  margin-top: 50px;
}
#content {
  width: 85%;
  margin: 0px auto;
}
#heading{
  margin-bottom: 25px;
}
.subheading_text a {
  text-decoration: unset;
}

#heading {
  font-weight: lighter;
  font-size: 30px;
}

#content p {
  line-height: 25px;
  color: #333232;
  font-weight: 500;
}

/* reach out form div */
#reach_out {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 100px;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
#form_div,
#contact_details {
  padding: 30px;
}
#contact_details {
  padding-left: 0px;
}
#contact_details a {
  text-decoration: unset;
}
#checkbox li {
  list-style: none;
  margin-top: 5px;
}
#checkbox > label {
  font-weight: bolder;
  font-size: 16px;
}
#form > input {
  padding: 15px 20px;
  width: 90%;
  border: 1px solid #e0e0e0;
  background-color: #f3f3f3d7;
}
#reach_out h3 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 25px;
}
input::placeholder {
  font-size: 16px;
}
button[type="submit"] {
  background-color: #d7282f;
  width: 200px;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 15px;
}
button[type="submit"]:hover {
  background-color: #FB2056;
}
#war_name,
#war_email,#war_captcha {
  color: rgb(189, 68, 68);
  margin-top: -15px;
  font-size: 15px;
}

/* check_box */
#captcha img{
  width: 350px;
  margin-left: -27px;
  border: 1px solid #dadada;

}
#captcha{
  margin: 15px 0px;
}
#captcha_checkbox {
  width: 28px;
  height: 28px;
  position: relative;
  left: 30.5px;
  bottom: 33px;
  top: -36px;
  
}
#line{
  border:1px solid #D7282F;
  width: 65%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
}
@media  all and (min-width:300px) and (max-width:999px){
  #reach_out{
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
  }
  .separator_parent{
    display: flex;
    justify-content: center;
  }
  .separator{
    width: 80px;
    margin-bottom:5px;
  }
  #heading{
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;

  }
  #contact_details{
    margin:-30px 0px 0px 25px;
  }
 
}
@media  all and (min-width:300px) and (max-width:490px){
  #captcha_checkbox {
    left: 6px;
    bottom: 33px;
    top: 64px;
  }
  #captcha img{
    margin-left: -20px;
    border: 1px solid #dadada;
  
  }
}



