/* Header Section Start */
header{
      width: 100vw;
      height: 125vh;
      background-image: url('https://sparkamerica.com/wp-content/uploads/2020/12/HomeHeader1.jpg');
      background-position: 10%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      
}

header::after{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-image: linear-gradient(90deg, #ffffff 0%, rgba(255,255,255,0) 100%);
}

.line{
      z-index: 4;
      position: absolute;
      bottom: 0;
}

#second_navbar{
      display: none;
}

.about{
      width: 52%;
      position: absolute;
      z-index: 4;
      margin: 90px;
      color: #0A0001;
}

.about>h2{
      font-size: 1.9rem;
      font-weight: 300;
}

.p2{
      line-height: 1.5;
}

.underline{
      width: 8%;
      border-top: 3px solid #d7282f;
      display: inline-block;
      margin: 8px 0;
}
/* Header Section End */


/* Body Section Start */

/* Section One */
.section_one{
      width: 81%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 80px 0;
}

.section_one>div{
      width: 49%;
}

.heading2{
      width: 55%;
      font-weight: 400;
      font-size: 1.9rem;
      text-align: left;
      font-weight: 300;
}

.para2{
      line-height: 20px;
      margin-bottom: 20px;
      text-align: left;
      font-size: 0.9rem;
      font-weight: 300;
}

.btn{
      text-align: center;
      margin-top: 20px;
}

.btn>a>button{
      background-color: #d7282f;
      border: 1px solid #d7282f;
      border-radius: 25px;
      color: white;
      padding: 12px 50px 12px 30px;
      position: relative;
      font-size: 14px;
      cursor: pointer;
}

.btn>a>button:hover{
      background-color: #FB2056;
      border: 1px solid #FB2056;
}

.fas{
      font-size: 18px;
      position: absolute;
      top: 12px;
      padding-left: 5px;
      padding-right: 20px;
}

.section_one>div>img{
      width: 100%;
}

.underline2{
      text-align: left;
      width: 15%;
      border-top: 3px solid #d7282f;
      display: inline-block;
      margin: 12px 0 8px 0;
}


/* Section Two */
.section_two{
      background-image: url('https://sparkamerica.com/wp-content/uploads/2020/11/HomePage_AboutUsSectionImg.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 5%;
      height: 86vh;
}

.section_two>div{
      background-color: rgba(255,255,255,0.46);
      height: 86vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.content{
      width: 82%;
      margin: auto;
}

.underline3{
      text-align: left;
      width: 15%;
      border-top: 3px solid blue;
      display: inline-block;
      margin: 12px 0 8px 0;
}


/* Section Three */
.section_three{
      width: 85%;
      height: auto;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 120px 0;
}

.section_three>:first-child{
      width: 36%;
}

.section_three h2{
      width: 100%;
      font-weight: normal;
      font-size: 1.9rem;
      text-align: left;
      font-weight: 300;
}

.underline4{
      text-align: left;
      width: 13%;
      border-top: 3px solid #d7282f;
      display: inline-block;
      margin: 12px 0 8px 0;
}

.section_three p{
      line-height: 20px;
      text-align: left;
      font-size: 0.9rem;
      font-weight: 300;
}

.section_three p>a{
      text-decoration: none;
      color: blue;
}

.section_three>div>p+p{
      margin-bottom: 20px;
}

.section_three>div>div{
      text-align: center;
}

.section_three button{
      background-color: #d7282f;
      border: 1px solid #d7282f;
      border-radius: 25px;
      color: white;
      padding: 12px 30px;
      font-size: 14px;
      cursor: pointer;
}

.section_three button:hover{
      background-color: #FB2056;
      border: 1px solid #FB2056; 
}

.section_three>:last-child{
      width: 61.5%;
      height: 95vh;
      display: grid;
      gap: 20px;
      grid-template-areas:
      "box1 box2"
      "box3 box2"
      "box3 box4";
}

.section_three>:last-child>div>img{
      width: 100%;
      height: 100%;
}

.box1{
      grid-area: box1;
}

.box2{
      grid-area: box2;
}

.box3{
      grid-area: box3;
}

.box4{
      grid-area: box4;
}

/* Body Section End */


/* Responsive For Medium Screen */
@media (min-width: 421px) and (max-width: 850px) {
      /* Header Section */
      header{
            width: 100%;
            background-size: contain;
            background-position: right;
            height: 50vh;
      }

      #second_navbar{
            display: inline-block;
      }

      .position_index{
            display: none;
      }

      .about{
            width: 60%;
            margin: 20px 20px 20px 30px;
      }

      .about h2{
            font-size: 2rem;
            font-weight: 400;
      }

      .about p{
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.3;
      }
      

      /* Section One */
      .section_one{
            width: 90%;
      }

      .heading2{
            font-size: 2rem;
            font-weight: 400;
      }

      .para2{
            font-weight: 400;
            font-size: 1.1rem;
      }

      .btn>a>button{
            font-size: 1rem; 
      }


      /* Section Two */
      .section_two{
            height: 30vh;
            background-size: contain;
            background-attachment: fixed;
      }

      .section_two>div{
            height: 30vh;
            width: 100wh;
      }

      .content{
            width: 100%;
            padding: 35px;
      }

      .content>h2{
            width: 100%;
      }

      .content>p{
            width: 80%;
      }

      /* Section Three */
      .section_three{
            width: 90%;
      }

      .section_three>:last-child{
            height: 35vh;
      }

      .section_three h2{
            font-weight: 400;
            font-size: 27px;
      }

      .section_three p{
            font-size: 1.2rem;
            display: inline-block;
            font-weight: 400;
      }
}     

 /*Responsive For Small Screen */
 @media (min-width: 270px) and (max-width: 420px) {
      header{
            width: 420px;
            background-size: 100% 50vh;
            background-position: left;
            height: 420px;
            margin-top: -25px;
      }

      #second_navbar{
            display: block;
      }

      .position_index{
            display: none;
      }

      .about{
            width: 75%;
            margin: 0;
            padding: 15px;
            height: auto;
      }

      .about>h2{
            width: 100%;
            font-size: 20px;
      }

      .about p{
            width: 100%;
            font-size: 13px;
            line-height: 1.3;
            font-weight: 400;
      }

      header>img{
            width: 100%;
      }


      /* Section One */
      .section_one{
            width: 100%;
            flex-direction: column;
            padding: 0;
            justify-content: flex-start;
            overflow: auto;
      }

      .section_one>div{
            width: 100%;
            padding: 10px;
      }

      .heading2{
            width: 100%;
            font-size: 23px;
      }

      .para2{
            font-size: 14px;
            width: 80%;
            font-weight: 400;
      }

      .section_one img{
            width: 100%;
      }

      .btn{
            text-align: center;
            margin-top: 20px;
      }


      /* Section Two */
      .section_two{
            background-attachment: scroll;
            height: auto;
            background-size: cover;
            width: 100%;
            margin: 0;
            margin: 40px 0;
            padding: 0;
      }

      .section_two>div{
            height: auto;
            padding: 20px;
      }

      .content>h2{
            font-size: 20px;
            margin: auto;
            width: 80%;
      }

      .content>p{
            margin: auto;
      }

      .underline3{
            margin-left: 35px;
      }


      /* Section Three */
      .section_three{
            display: table;
            align-items: center;
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: justify;
      }

      .section_three>div{
            width: 380px;
            text-align: justify;
      }

      .section_three h2{
            width: 380px;
            padding: 10px;
            font-size: 20px;
      }

      .section_three p{
            width: 380px;
            padding: 0px 10px;
            font-weight: 400;
      }

      .section_three p>a{
            text-decoration: none;
            color: blue;
      }

      .underline4{
            width: 50px;
            margin-left: 10px;
      }

      .section_three>:last-child{
            text-align: center;
            display: table;
            width: 400px;
            padding: 15px;
      }

      .section_three>:last-child img{
            width: 90%;
            padding: 10px;
      }

      .section_three center{
            width: 100%;
            text-align: center;
      }

      .section_three button{
            width: 150px;
            margin-left: 100px;
      }


      #second_navbar{
            display: block;
      }

      .content{
            padding: 10px;
            width: 100%;
      }
 }