* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.fa-instagram {
    color: orangered;
    margin-right: 15px;
}

.fa-square-facebook {
    color: rgb(54, 137, 220)
}

nav {
    width: 100%;
    padding-top: 5px;
    position: relative;
    z-index: 4;
}

.position_index {
    position: relative;
    z-index: 4;
}

/* Logo Section */
#logo {
    width: 100%;
    padding: 9.7px 0px;
    text-align: center;
    width: 515px;
    margin: auto;
}

#logo>a>img {
    width: 91%;
    margin-bottom: 20px;
}

#logo>img:visited {
    border: 1px dashed;
}

/* List Section */
#category {
    text-align: center;
    margin-top: -5px;
}

#line {
    border: 1px solid #D7282F;
    width: 65%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

#lists {
    width: 61.5%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#lists>ul:first-child {
    width: 85%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#lists>ul>li>a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

#lists>ul>li>a:hover {
    color: #D7282F;
}

#lists>ul:last-child {
    list-style-type: none;
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

#logo2>a>img {
    width: 60%;
    margin-left: -90px;

}

#menu_icon {
    font-size: 20px;
    margin-right: 20px;

}

.list_of_links {
    text-align: left;
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
    list-style: none;
    margin-top: 10px;
    display: none;
    margin-left: 30px;

}

.list_of_links ul {
    float: left;
}

.list_of_links ul li {
    margin-bottom: 20px;
    list-style-type: none;
}

.list_of_links ul li a {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin-right: 20px;

}

#menu_icon_delete {
    display: none;
    background-color: #d7282f;
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
    padding: 3px 7px;
    border-radius: 5px;
}

.navbar_icon{
    display: none;
}

@media (min-width:200px) and (max-width:481px) {
    nav {
        display: none;
    }

    .navbar_icon {
        display: block;
    }

    #line {
        display: none;
    }

    .list_of_links {
        text-align: left;
   }
  #lists{
      width: 61.5%;
      display: flex;
      justify-content: space-between;
      margin: auto;
  }
  
  #lists>ul:first-child{
      width: 85%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
  }
  
  #lists>ul>li>a{
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: black;
  }
  
  #lists>ul>li>a:hover{
      color: #D7282F;
  }
  
  #lists>ul:last-child{
      list-style-type: none;
      width: 10%;
      display: flex;
      justify-content: space-between;
  }
  
  .nav{
      width:100%;
      display: flex;
      align-items: center;
      padding: 15px;
      justify-content: space-between;
  }
  
  #logo2>a>img{
      width: 60%;
      margin-left: -90px;
    
  }
  #menu_icon{
      font-size: 20px;
      margin-right: 20px;
  
  }
  .list_of_links{
      text-align: left;
      padding: 15px;
      background-color: white;
      box-sizing: border-box;
      list-style: none;
      margin-top: 10px;
      display: none;
      margin-left: 30px;
  
  }
  .list_of_links ul{
      float: left;
  }
  .list_of_links ul li{
      margin-bottom: 20px;
      list-style-type: none;
  }
  .list_of_links ul li a{
      margin-bottom: 20px;
      text-decoration: none;
      color: black;
      font-weight: 400;
      margin-right: 20px;
  
  }
  #menu_icon_delete{
      display: none;
      background-color: #d7282f;
      color:#ffffff;
      font-size: 20px;
      margin-right: 15px;
      padding: 3px 7px;
      border-radius: 5px;
  }
}

@media (min-width:482px) and (max-width:768px) {
    nav {
        display: none;
    }

    #menu_icon,
    #menu_icon_delete {
        margin-right: 60px;
    }

    .navbar_icon {
        display: block;
    }

    #line {
        display: none;
    }

    .list_of_links {
        text-align: left;
        margin-left: 60px;
    }
}


@media (min-width:769px) and (max-width:1500px) {
    nav {
        display: block;
    }
    .all{
        display: none;
        margin-bottom: 30px;
    }

    .nav {
        display: none;
    }

    .list_of_links {
        display: none;
    }

}