*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
}

body{
      width: 100%;
      min-height: 100vh;
      overflow-x: hidden;
      font-family: 'League Gothic', sans-serif;
      font-family: 'Roboto', sans-serif;
}

nav{
      width: 100%;
      padding-top: 5px;
}

/* Logo Section */
#logo{
      width: 100%;
      padding: 10px 0px;
      text-align: center;
      width: 515px;
      margin: auto;
}

#logo>a>img{
      width: 91%;
}

#logo>img:visited{
      border: 1px dashed;
}

/* List Section */
#category{
      text-align: center;
      margin-top: -5px;
}

#lists{
      width: 61.5%;
      display: flex;
      justify-content: space-between;
      margin: auto;
}

#lists>ul:first-child{
      width: 85%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
}

#lists>ul>li>a{
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: black;
}

#lists>ul>li>a:hover{
      color: #D7282F;
}

#lists>ul:last-child{
      list-style-type: none;
      width: 10%;
      display: flex;
      justify-content: space-between;
}

#lists>ul:last-child>li{
      width: 45%;
}

#lists>ul:last-child>li>a>i{
      font-size: 20px;
}

.fa-square-facebook{
      color: #3B5998;
}

.fa-instagram{
      color: #E95950;
}

.position_index{
      z-index: 4;
      position: relative;
}