#thankYou {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.note {
    text-align: center;
}

.note:nth-child(3) {
    margin-bottom: 2rem;
}

#btns>input {
    width: 100%;
    font-size: 1.2rem;
}

#btns+div {
    text-decoration: none;
    color: #006da8;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    margin-top: 1.2rem;
}